<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <%- include('includes/style')%>
    <title>Api Convert</title>
</head>
<body>
    <div class="endpoints">
        <h1>Endpoints</h1>
        <div class="text">
            <h2>1 - POST https://api.converter-switch.ga/convert</h2>
            <p>O endpoint <span>https://api.converter-switch.ga/convert</span> devera receber um corpo do tipo <span>form-data</span><br/> contendo a key <span>file</span> com um arquivo <span>docx</span></p>
            <h3>RESPONSE</h3>
            <p>Em caso de <span>sucesso</span> voce rebecera 
                <code>
                    {
                        "status": 200,
                        "statusText": "https://api.converter-switch.ga/files/filename.pdf"
                    }
            </code>
            <p>Em caso de <span>erro</span> voce rebecera 
                <code>
                    {
                        "status": 500,
                        "statusText": "Motivo do erro"
                    }
            </code>
            </p>
    </div>
    </div>
</body>
</html>